<div class="detail-section">
    <div class="container-fluid">
        <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="detail-img">

        
        <h3>{{product.name}}</h3>

        <div class="price">{{ product.unitPrice | currency:'TRY':'symbol':'1.2-2' }}</div>

         <button (click)="addToCart()" class="btn btn-primary btn-sm">Sepete Ekle</button>
         <hr>

         <h4>Açıklama</h4>
         <p>{{product.description}}</p>
        <a routerLink="/product" class="mt-5">Ürün Listesine Geri Dön</a>
    </div>
</div>